/*Se importan un tipo de letra especial de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 16px;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --main-color: #803080;
    --text-color: #000000;
    --bg-color: #ffffff;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: orange;
    height: 150px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 200px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
  font-size: 100px;
  font-weight: 700;
  color: var(--text-color);
  margin-left: -200px;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 48px;
}

.navbar a {
    color: var(--text-color);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover,
.navbar .activo{
    color: var(--main-color);
    border-bottom: 3px solid;
}

#buscar-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: -200px;
}

.search-box {
    position: absolute;
    top: 85%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    display: none;
    z-index: 9999;
}

.search-box.activo{
    display: block;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.footer {
    background-color: black;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
}

.catalogo {
    align-items: center;
    text-align: center;
    display: block;
    width: 100%;
    position: fixed;
    top: 150px;
    left: 0;
    background-color: white;
    height: 30px;
}

.catEstilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1000px;
    margin: 200px auto;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
}

.catEstilo img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 10px;
}

.catEstilo h2, .catEstilo p {
    text-align: center;
    font-size: 50px;
}

.hidden-controls::-webkit-media-controls-panel {
    display: none !important;
}
.cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 200px auto;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    font-size: 30px;
}

.cita input[type="text"],
.cita input[type="email"],
.cita textarea {
    font-family: arial,sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cita input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
}

.cita input[type="submit"]:hover {
    background-color: #6A0DAD;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 200px auto;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    font-size: 30px;
}

.login input[type="text"],
.login input[type="password"] {
    font-family: arial,sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
}

.login input[type="submit"]:hover {
    background-color: #6A0DAD;
}
