<!DOCTYPE html>
<html>
    <head>
        <title>Esteban Solís</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="nav container">
                <i class='bx bx-menu-alt-right' id="menu-icon"></i>
                <a href="#" class="logo">Autos <span>McQueen</span></a>

                <ul class="navbar">
                    <li><a href="#inicio" class="activo">Inicio</a></li>
                    <li><a href="#autos">Autos</a></li>
                    <li><a href="#accesorios">Accesorios</a></li>
                    <li><a href="#Contacto">Contacto</a></li>
                </ul>

                <i class='bx bx-search-alt-2' id="buscar-icon" onclick="toggleSearchBox()"></i>

                <div class="search-box container">
                    <input type="Buscar" name="" id="" placeholder="Buscar autos">
                </div>
            </div>
            <script>
                function toggleSearchBox() {
                    var searchBox = document.querySelector('.search-box');
                    searchBox.classList.toggle('activo');
                }
            </script>
        </header>
    </body>
</html>
